.bg-textPrimary {
    background: #002147 !important;
}

.header2-area nav#desktop-nav > ul > li > a {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
}

.mega-menu-area > li > a {
    font-size: 15px;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
